* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

header {
  width: 100%;
  background-color: #202020;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
}

.header-container {
  position: relative;
}

.header-container__a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
  margin-top: 4px;
  border-bottom: .01rem solid #3a3a3a;
}

.header-container__a .navbar {
  height: 1.5rem;
  display: none;
}

.header-container__a .navbar ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container__a .navbar ul li {
  margin: 0 10px;
}

.header-container__a .navbar ul li a {
  color: white;
  text-decoration: none;
  display: block;
  text-transform: uppercase;
  font-size: .75rem;
  padding: 5px;
  letter-spacing: .5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.burguer {
  margin-left: 12px;
  padding: 4px;
}

.burguer .fa-bars {
  color: white;
  font-size: 1.3rem;
}

.logo {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

.cart-container {
  color: white;
  margin-right: 12px;
}

.header-container__b {
  background-color: #202020;
}

.header-container__b .navbar__b ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  height: 40px;
}

.header-container__b .navbar__b ul::-webkit-scrollbar {
  height: 2px;
  background-color: #111111;
}

.header-container__b .navbar__b ul li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin: 5px 10px;
}

.header-container__b .navbar__b ul a {
  text-decoration: none;
  color: white;
  display: block;
  text-transform: uppercase;
  font-size: .75rem;
  padding: 5px;
  letter-spacing: .5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.header-container__c {
  width: 100%;
  background-color: #ceff02;
}

.header-container__c .msg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 35px;
}

.header-container__c .msg p {
  color: black;
  font-size: .9rem;
  font-family: 'Roboto', sans-serif;
}

main {
  width: 100%;
  padding-top: 110px;
}

.banner .banner-container .image3 {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: auto;
}

.banner .banner-container .image2 {
  display: none;
}

.banner .banner-container .image1 {
  display: none;
}

.title {
  margin-top: 10px;
}

.title .title-container {
  width: 85%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: center;
      align-content: center;
  text-align: center;
}

.title .title-container .container-h1 {
  font-size: 1.35rem;
  text-transform: uppercase;
  margin-bottom: 8px;
  font-family: 'Fjalla One', sans-serif;
  font-weight: lighter;
}

.title .title-container .container-p1 {
  font-size: .95rem;
  margin-bottom: 8px;
  font-family: 'Roboto', sans-serif;
}

.title .title-container .container-p2 {
  font-size: .6rem;
  font-family: 'Roboto', sans-serif;
}

.shop {
  margin-top: 22px;
}

.shop-wrapper {
  margin: 0 16px 60px 16px;
}

.shop-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 10px;
}

.shop-title a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: .75rem;
  letter-spacing: .5px;
  font-family: 'Roboto', sans-serif;
}

.shop-title .title-b {
  color: #4c7fef;
}

.items-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: .8rem;
}

.items-wrapper .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  overflow: hidden;
}

.items-wrapper .item .item-container__a {
  position: relative;
}

.items-wrapper .item .item-container__a a {
  display: block;
}

.items-wrapper .item .item-container__a a img {
  width: 100%;
  display: block;
}

.items-wrapper .item .item-container__a button {
  cursor: pointer;
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px;
  width: 35px;
  height: 35px;
  border: none;
  background-color: white;
}

.items-wrapper .item .item-container__a button i {
  color: #3b3b3b;
}

.items-wrapper .item .item-container__a .more-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
}

.items-wrapper .item .item-container__a .more-container i {
  cursor: pointer;
  font-size: 2rem;
  color: #3f3f3f;
}

.items-wrapper .item .item-container__a .more-container a {
  text-decoration: none;
  color: #4e4e4e;
  text-transform: uppercase;
  margin-top: 10px;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
}

.items-wrapper .item .item-container__b {
  margin-top: 6px;
}

.items-wrapper .item .item-container__b h3 a {
  text-decoration: none;
  color: #919191;
  text-transform: uppercase;
  font-size: 13px;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  letter-spacing: 1px;
}

.items-wrapper .item .item-container__b p {
  font-weight: 500;
  font-size: .9rem;
  font-family: 'Roboto', sans-serif;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-top: .125rem solid #efefef;
  padding: 1rem;
}

.a-container a {
  font-size: 1.7rem;
  text-decoration: none;
  text-transform: uppercase;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
}

.footer-b {
  border-top: .125rem solid #efefef;
  border-bottom: .125rem solid #efefef;
  padding: 20px;
}

.footer-b .b-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 8px;
}

.footer-b .b-list li {
  list-style: none;
  margin: 6px;
}

.footer-b .b-list li a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  color: #303030;
  letter-spacing: .097rem;
  font-family: 'Roboto', sans-serif;
}

.footer-c {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.footer-c .c-container-a {
  text-align: center;
  margin-bottom: 1.7rem;
}

.footer-c .c-container-a .a-container-paragraph {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
}

.footer-c .c-container-a .list-cards i {
  font-size: 2rem;
  margin-right: 8px;
}

.footer-c .c-container-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-c .c-container-b .b-container-paragraph {
  color: #303030;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  margin-bottom: 5px;
}

.footer-c .c-container-b .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-c .c-container-b .icon-container i {
  margin-right: 8px;
}

.footer-c .c-container-b .icon-container p {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  color: #303030;
  font-size: 11px;
}

.footer-d {
  text-transform: uppercase;
  text-align: center;
  font-size: .8rem;
  background-color: #202020;
  padding: 20px 0;
}

.footer-d .d-container {
  width: 90%;
  margin: auto;
  color: white;
  font-size: 9px;
  font-family: 'Roboto', sans-serif;
  letter-spacing: .09rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .navbar__b ul {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .banner-container .image3 {
    display: none;
  }
  .banner .banner-container .image2 {
    display: block;
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: auto;
  }
  .banner .banner-container .image1 {
    display: none;
  }
  main {
    width: 100%;
    padding-top: 124px;
  }
  .items-wrapper {
    grid-gap: 1.3rem;
  }
}

@media only screen and (min-width: 768px) {
  .header-container__a {
    height: 60px;
  }
  main {
    width: 100%;
    padding-top: 138px;
  }
  .items-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto;
        grid-template-columns: auto auto auto;
    grid-gap: 1.3rem;
  }
  .shop .shop-wrapper {
    margin: 0 20px 60px 20px;
  }
  .shop .shop-wrapper .shop-title a {
    font-size: .9rem;
  }
}

@media only screen and (min-width: 995px) {
  .header-container__a {
    width: 95%;
    margin: auto;
    height: 85px;
  }
  .header-container__a .burguer {
    display: none;
  }
  .header-container__a .navbar {
    display: block;
  }
  .header-container__b {
    display: none;
  }
  .header-container__c .msg {
    height: 46px;
  }
  main {
    width: 100%;
    padding-top: 130px;
  }
  .title .title-container .container-h1 {
    font-size: 2.7rem;
  }
  .title .title-container .container-p1 {
    font-size: 1.4rem;
  }
  .title .title-container .container-p2 {
    font-size: .8rem;
  }
  .shop .shop-wrapper {
    margin: 0 20px 60px 20px;
  }
  .shop .shop-wrapper .shop-title a {
    font-size: 1rem;
  }
  .items-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1.7rem;
  }
}

@media only screen and (min-width: 1024px) {
  .header-container__a {
    width: 85%;
    margin: auto;
  }
  .items-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto auto auto auto;
        grid-template-columns: auto auto auto auto;
  }
}

@media only screen and (min-width: 1300px) {
  .shop .shop-wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*# sourceMappingURL=style.css.map */